Source: lingmo-opencore-amd64
Section: admin
Priority: optional
Standards-Version: 3.9.2
Maintainer: Elysia <c.elysia@foxmail.com>
Copyright: BSD
Changelog: changelog

Package: lingmo-opencore-amd64
Depends: grub-common
Replaces: grub-efi-amd64
Architecture: amd64
Description: OpenCore Package for LingmoOS EFI target
